table, td, th {
  border: 2px solid black;
}
td, th {
  padding: 50px 50px 50px 50px;
}

table {
  border-collapse: collapse;
}

.close {
  float:center;
  position: relative;
  top: 30px;
  right: 35px;
  cursor:pointer;
}

#message {
  width: 300px;
  padding: 10 10;
  margin: 10 10;
  color: white;
}

.disappear {
  visibility:hidden;
}

.good {
  background-color: green;
}

.bad {
  background-color: red;
}
