#body-color {
background-color: white;
}

#errors{
  color: #FFFFFF;
}
#Sign-Up{
background-position:center;
padding:10px 30px;
}

#allErrors {
color: red;
}

h2 {
color: white;
background-color: black;
font-size:20px;
padding: 40px 30px;
text-decoration: none;
text-transform: uppercase;
}

#button{
border-radius:10px;
width:100px;
height:40px;
font-weight:bold;
font-size:20px;
}
