body{
background-color: white ;
}

h2 {
color: white;
background-color: black;
font-size:30px;
padding: 40px 30px;
text-decoration: none;
text-transform: uppercase;
}

a:hover, a:active{
background-color: #A9A9A9;
}

h2 a{
color: #FFFFFF;
text-decoration: none;
}

.search input[type=text] {
float:center;
font-size:25px;
border: 2px solid #ccc;
}

.marquee {
font-size: 40px;
color: red;
}

h1{
font-family:georgia,garamond,serif;
font-style:italic;
color :black;
}

h2{
font-size:20px;

}



